@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

:root {
  --color-main-white: rgb(255,255,255);
  --color-main-offwhite: rgb(245,245,245);
  --color-main-dark: #1F305E;
  --color-label-darkgray: #727171;
  --color-main-red: #793434;
  --color-hover-field: #EAFCF4;

  --font-sans-label: 'Source Sans', sans-serif;
  --font-sans-content: 'Montserrat Alternates', sans-serif;
}