@import '../variables.css';

.NavBar {
  position: sticky;
  top: 0;
  float: left;
  width: 100%;
  height: 60px;
  background: var(--color-main-white);
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  z-index: 30;
}

.NavBar > .inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar > .inner > div {
  background: white;
}

.NavBar > .inner > .user,
.NavBar > .inner > .add {
  position: relative;
  float: left;
  width: 25%;
  max-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar > .inner > .add > .icon {
  background: orange;
}

.NavBar > .inner > .add > .icon,
.NavBar > .inner > .user > .icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-label-darkgray);
}
.NavBar > .inner > .user > .icon > .material-icons {
  font-size: 32pt;
  transform: translateY(-1.5px);
  color: white;
}


.NavBar > .inner > .home,
.NavBar > .inner > .search {
  position: relative;
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar > .inner > .home {
  width: 25%;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar > .inner > .home > .link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.NavBar > .inner > .home > .link > .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 45px;
  height: 100%;
}
.NavBar > .inner > .home > .link > .icon > .inner {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url('logo_with_white_bg.png');
  background-size: cover;
}
.NavBar > .inner > .home > .link > .title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: calc(100% - 50px);
  padding-left: 5px;
  font-family: var(--font-sans-label);
  font-size: 14pt;
}
.NavBar > .inner > .search {
  position: relative;
  flex: 1;
  max-width: calc(100% - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.NavBar > .inner > .search > .icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.NavBar > .inner > .search > .icon-container > .icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-label-darkgray);
  background: white;
}

.NavBar > .inner > .search > .inner {
  position: relative;
  float: left;
  width: calc(100% - 50px);
  max-width: 390px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid var(--color-label-darkgray);
  font-size: 12pt;
  padding: 5px;
  color: var(--color-label-darkgray);
  z-index: 10;
}
.NavBar > .inner > .search > .inner:focus,
.NavBar > .inner > .search > .inner:hover {
  outline: none;
  border: 2px solid var(--color-label-darkgray);
  color: black;
}

.NavBar > .inner > .search > .search-results {
  position: absolute;
  top: 0px;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  max-width: 420px;
  min-width: 200px;
  max-height: 200px;
  z-index: 5;
}
.NavBar > .inner > .search > .inner:focus ~ .search-results,
.NavBar > .inner > .search > .search-results:focus,
.NavBar > .inner > .search > .search-results:active {
  display: flex;
}

.NavBar > .inner > .search > .search-results > .inner {
  position: absolute;
  top: 60px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 24px);
  max-height: 300px;
  padding: 2px;
  overflow-y: scroll;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
  background: white;
}

.NavBar > .inner > .search > .search-results > .inner > .user-container {
  position: relative;
  float: left;
  display: flex;
  width: calc(100% - 4px);
  height: 40px;
  background: white;
  margin: 2px;
}
.NavBar > .inner > .search > .search-results > .inner > .user-container:hover {
  background: var(--color-hover-field);
}
.NavBar > .inner > .search > .search-results > .inner > .user-container > .icon-container {
  position: relative;
  display: flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.NavBar > .inner > .search > .search-results > .inner > .user-container > .icon-container > .icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: gray;
  border-radius: 50%;
}
.NavBar > .inner > .search > .search-results > .inner > .user-container > .username-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 50px);
  height: 100%;
  overflow: hidden;
}






@media (max-width: 600px) {
  .NavBar > .inner > .home > .link > .title {
    display: none;
  }
  .NavBar > .inner > .home > .link > .icon {
    width: 100%;
    max-width: 100%;
  }
  .NavBar > .inner > .home > .link > .icon > .inner {
    width: 45px;
    height: 45px;
  }
  .NavBar > .inner > .home,
  .NavBar > .inner > .search {
    width: 25%;
    min-width: 0;
    max-width: 100%;
  }
}



@media (max-width: 400px) {
  .NavBar > .inner > .search > .icon-container,
  .NavBar > .inner > .search > .icon-container > .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NavBar > .inner > .search > .icon-container > .icon {
    cursor: pointer;    
  }
  .NavBar > .inner > .search > .inner {
    position: absolute;
    display: flex;
    z-index: -10;
    top: 12px;
    max-width: 100%;
  }

  .NavBar > .inner > .search.full-small-screen-width {
    z-index: 40;
    position: absolute;
    left: 0;
    width: 100%;
    /* background: pink; */
  }

  .NavBar > .inner > .search > .inner:focus {
    z-index: 40;
  }
    
  .NavBar > .inner > .search > .icon-container > .icon.hide-on-input-focused {
    display: none;
  }
}