@import '../variables.css';
@import '../components/RecipeTile.css';

.Profile {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.Profile > .meta,
.Profile > .control-panel {
  position: relative;
  width: 100%;
  background: white;
  margin: 10px auto;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.Profile > .control-panel,
.Profile > .edit-or-fork-button-container {
  z-index: 20;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  background: rgba(255,255,255,.95);
}
.Profile > .edit-or-fork-button-container > .button {
  position: relative;
  border: 2px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 4px;
  cursor: pointer;
}
.Profile > .edit-or-fork-button-container > #edit.button {
  position: absolute;
  right: 0;
  margin: auto 10px;
}
.Profile > .edit-or-fork-button-container > .button > i {
  margin-right: 8px;
}

.Profile > .control-panel > .relationship-container {
  position: relative;
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Profile > .control-panel > .meta-button-group {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}
.Profile > .control-panel > .meta-button-group > .button {
  position: relative;
  width: 80px;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-sans-label);
}
.Profile > .control-panel > .meta-button-group > .button:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.2);
} 
.Profile > .control-panel > .meta-button-group > #save {
  color: #3E8B3E;
}
.Profile > .control-panel > .meta-button-group > #clear {
  color: #9E5656;
}



.Profile > .meta {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.Profile > .meta > div {
  position: relative;
  float: left;
  width: 100%;
  min-height: 20px;
}
.Profile > .meta > .picture-and-name {
  font-size: 24pt;
  text-align: center;
  flex: 1;
  min-width: 200px;
  height: 160px;
}
.Profile > .meta > .picture-and-name > .picture-container {
  position: relative;
  float: left;
  height: calc(100% - 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile > .meta > .picture-and-name > .picture-container > .picture {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: gray;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
  background-size: cover;
  /* temporary for the words "profile picture" */
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile > .meta > .picture-and-name > .name-container {
  position: relative;
  float: left;
  height: 30px;
  width: 100%;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Profile > .meta > .description-and-statistics {
  font-size: 24pt;
  text-align: center;
  flex: 2;
  min-width: 240px;
  font-size: 14pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Profile > .meta > .description-and-statistics > .description {
  position: relative;
  width: 100%;
  min-height: calc(100% - 80px);
  font-size: 24pt;
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}
.Profile > .meta > .description-and-statistics > .statistics {
  position: relative;
  width: 100%;  
  font-size: 24pt;
  text-align: center;
  font-size: 14pt;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.Profile > .meta > .description-and-statistics > .statistics > .button {
  position: relative;
  border: 2px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 4px;
  font-size: 12pt;
  cursor: pointer;
}