@import '../variables.scss';

.Recipe {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;

  .meta, 
  .ingredients, 
  .method, 
  .control-panel, 
  .edit-or-fork-button-container, 
  .delete-recipe-button-container {
    position: relative;
    width: 100%;
    background: white;
    margin: 10px auto;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
  }

  .control-panel,
  .edit-or-fork-button-container {
    z-index: 20;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    background: rgba(255,255,255,.95);
  }

  .edit-or-fork-button-container {
    .button {
      position: relative;
      border: 2px solid gray;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 4px;
      cursor: pointer;

      i {
        margin-right: 8px;
      }
    }
    #edit.button {
      position: absolute;
      right: 0;
      width: auto;
      margin: auto 10px;
      cursor: pointer;  
      padding: 4px;  
    }
    #edit.button:hover {
      box-shadow: 0 0 6px rgba(0,0,0,.2);  
    }
  }

  .control-panel {
    .style-button-group {
      position: relative;
      width: calc(100% - 100px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .button {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        border: 1px solid var(--color-label-darkgray);
        background: white;
        margin: 3px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: var(--font-sans-label);
      }
    }

    .meta-button-group {
      position: relative;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 5px;

      .button {
        position: relative;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 2px solid gray;
        border-radius: 4px;
        margin: 4px;
        padding: 4px;
      }

      // .button:hover {
      //   // box-shadow: 0 0 6px rgba(0,0,0,.2);
      // } 
    }
  }

  .meta > div {
    position: relative;
    padding: 10px 20px;
    text-align: center;
  }

  .meta {
    .name {
      font-size: 24pt;
    }

    .author {
      font-size: 14pt;
    }

    .forked-from {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .forked-from-button {
        position: relative;
        font-size: 12pt;
        border: 2px solid gray;
        border-radius: 6px;
        cursor: pointer;
        width: auto;

        > div {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: rgb(0,100,155);
          font-size: 13pt;
          margin: 3px 5px;
          padding: 0;
          width: calc(100% - 10px);
        }

        .label {
          position: relative;
          display: flex;
          justify-content: center;
          text-align: center;
          font-family: var(--font-sans-label);
          color: black;
          font-size: 11pt;

        }
      }
    }

    .photo-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      /* override padding */
      padding: 10px 0;

      .photo {
        position: relative;
        width: calc(100% - 14px);
        height: 280px;
        border: 2px solid var(--color-label-darkgray);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
      }

      .upload-photo-button {
        position: relative;
        background: white;
        border: 2px solid var(--color-main-dark);
        border-radius: 4px;
        padding: 4px;
        margin: 5px;
        cursor: pointer;
      }
    }

    .description {
      font-size: 14pt;
      text-align: left;
    }

    .name > div,
    .description > div {
      border-radius: 4px;
      padding: 5px;
    }
  }

  div > .label {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: var(--font-sans-label);
    color: var(--color-main-dark);
  }

  .ingredients {
    .ingredients-body {
      position: relative;
      padding: 10px 20px;
      font-size: 14pt;

      > div {
        border-radius: 4px;
        padding: 5px;
      }
    }
  }

  .method {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .step-container {
      position: relative;
      float: middle;
      display: flex;
      width: 100%;
      padding: 4px 20px;
      padding-right: 0;
      font-size: 14pt;

      .step-index-container {
        position: relative;
        float: left;
        width: 28px;
        height: auto;
        font-size: 14pt;
        font-family: var(--font-sans-label);
        border-right: 2px solid var(--color-label-darkgray);
        display: flex;
        justify-content: center;
        align-content: flex-start;
        padding-top: 0;

        .step-index-number, .step-index-delete {
          position: absolute;
          left: 0;
          top: 0;
          height: calc(100% - 10px);
          padding-top: 10px;
          display: flex;
          align-items: flex-start;
          background: white;
        }

        .step-index-number {
          font-size: 12pt;
          z-index: 1;
          justify-content: flex-end;
          padding-right: 6px;
          width: calc(100% - 6px);
        }

        .step-index-delete {
          z-index: -10;
          width: 100%;  
          font-size: 14pt;  
          justify-content: center;  
          color: var(--color-main-dark);

          i:hover {
            cursor: pointer;
            text-shadow: 0 0 6px rgba(0,0,0,.2);
          }
        }
      }

      .step-index-container:hover > .step-index-delete {
        z-index: 20;
      }

      .step {
        position: relative;
        float: left;
        width: calc(100% - 60px);
        padding: 4px 20px;
        font-size: 14pt;

        > div {
          border-radius: 4px;
          padding: 5px;
        }
      }
    }

    .add-a-step-button-container {
      position: relative;
      width: 100%;
      float: left;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .add-a-step-button {
        position: relative;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 4px rgba(0,0,0,.4);
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  .delete-recipe-button-container {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    .delete-recipe-button {
      background: white;
      position: relative;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,.4);
      border-radius: 8px;
      border: 2px solid var(--color-main-red);
      cursor: pointer;
    }
  }

  .delete-recipe-button-container > .delete-recipe-button:hover,
  .method > .add-a-step-button-container > .add-a-step-button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
}
