/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
 @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
 @import url('https://fonts.googleapis.com/css?family=Crimson+Text');

 h1, h2, h3, h4, h5 {
   font-size: 12pt;
 }

.unauthenticated {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  background: rgb(245,245,245);
  font-size: 12pt;
  font-family: 'Crimson Text', serif;

  --color-main-dark: #1F305E;
}

.unauthenticated > .form > .nombook {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 24pt;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Montserrat Alternates', sans-serif;
}

.unauthenticated > .form {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: white;
}

.logo {
  position: relative;
  width: 140px;
  height: 140px;
  background-image: url('logo_with_white_bg.png');
  background-size: 100%;
}

.unauthenticated .title, 
.unauthenticated .field,
.unauthenticated .actions, 
.unauthenticated .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.unauthenticated .error {
  font-size: 12pt;
  padding: 0 20px;
  color: rgb(80, 24, 24);
}

.field .label {
  width: 100%;
  display: flex;
  justify-content: center;
}
.field.text input {
  position: relative;
  width: 100%;
  max-width: 180px;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: 1px solid gray;
  box-shadow: none;
}
.field.text input:focus {
  outline: none;
  background: none;
}

.unauthenticated .form .title {
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  border-top: 1px solid rgb(235,235,235);
}
.unauthenticated .form .links,
.unauthenticated .form .actions {
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.unauthenticated .form .links a {
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  color: rgb(0,100,155);
}

.unauthenticated .form .actions input {
  position: relative;
  padding: 5px;
  background: white;
  border-radius: 6px;
  border: 2px solid var(--color-main-dark);
  outline: none;
  cursor: pointer;
  font-size: 12pt;
  font-family: 'Crimson Text', serif;
}